.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.data {
  width: 17rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.presidentsTitle {
  text-align: center;
  color: #C8102E;
  border: red;
  border-radius: 4px;
  font-family: Lato, Geneva, Tahoma, sans-serif;
  font-family: 'Cormorant', serif;
}

.universityName {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cormorant', serif;
  /* padding-left: pt; */
}

.presidentName {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  padding-left: 50pt;
}

.name1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #E5621C;
  font-size: 20px;
  padding-left: 50pt;
}

.presNames {
  margin-right: 0;
  margin-left: auto; 
  display: flex;
  flex-direction: row;
  padding: 10pt;
  background-color: #282c34;
}

.button {
  background-color: #A4804A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* border-radius: 4px; */
}

.button2 {
  margin: 0;
  padding: 0;
  overflow:hidden;
  border: hidden;
}

.button:hover {
  background-color: #a4804aa1;
  transition: 0.3s;
}

.component-relations {
  background-image: url("assets/b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(to top, #BB4100,#f1c0a3); */
  display: flex;
  flex-direction: row;
  height:100vh;
  /* border-radius: 25px;
  border-style: solid;
  border-color: #69d0ec; */
}

.inputs {
  background-color: #A4804A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: solid;
  border-width: 2pt;
}

.info {
  display: flex;
  flex-direction: row;
}

ol.orderedList {
  list-style-type: none;
  column-count: 3;
  column-gap: 0px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  padding: 0.5rem;
  padding-left: 1rem;
}

form {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

img {
  scale: 80%;
}